* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: slateblue;
}

.header {
    font-size: 75px;
    font-variant-caps: all-small-caps;
    text-shadow: 5px 4px 0px rgb(75, 75, 75);
    color: rgb(50, 50, 175);
    font-weight: 999;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    width: 200px;
    height: 100px;
    border: 25px solid black;
    border-radius: 50px;
    
}

.page-links {
    list-style: none;
    font-size: 15px;
    color: rgb(50, 50, 175);
    -webkit-text-stroke: 1px black;
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    border: 1px solid black;
    padding: 0px;
}

.page-links div {
    margin: 1px;
}

.lessons,
.projects,
.about {
    background-color: rgb(0, 141, 141);
    border: 5px solid black;
    padding: 2px;
    text-align: center;
}

.paragraph {
    -webkit-text-stroke: 1px black;
    color: dodgerblue;
    margin: 50px;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}